@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Öğrenci ve Ders Yönetim Sistemi</h1>
    <p>
        <a class="btn btn-primary" href="/Home/OgrenciEkle">Öğrenci Ekle</a>
        <a class="btn btn-primary" href="/Home/OgretimGorevlisiEkle">Öğretim Görevlisi Ekle</a>
        <a class="btn btn-primary" href="/Home/DersEkle">Ders Ekle</a>
    </p>
</div>